Trials.GTC.Website/Service References/TrackCentral/TrackCentral3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1822/Services/TrackCentral.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Trials.GTC.Web.Services" />
  <xs:import schemaLocation="http://localhost:1822/Services/TrackCentral.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:1822/Services/TrackCentral.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Trials.GTC.Data" />
  <xs:import schemaLocation="http://localhost:1822/Services/TrackCentral.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="ResetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Trials.GTC.Web.Services" minOccurs="0" name="RegisterUserResult" nillable="true" type="q1:UserAndRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Trials.GTC.Web.Services" minOccurs="0" name="LoginUserResult" nillable="true" type="q2:UserAndRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTracks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="resultsPerPage" type="xs:int" />
        <xs:element minOccurs="0" name="trials" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="difficulty" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="creator" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortDirection" type="xs:boolean" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tags" nillable="true" type="q3:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTracksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Trials.GTC.Web.Services" minOccurs="0" name="GetTracksResult" nillable="true" type="q4:TracksResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="linkId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Trials.GTC.Data" minOccurs="0" name="GetTrackResult" nillable="true" type="q5:Track" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTags">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Trials.GTC.Data" minOccurs="0" name="GetTagsResult" nillable="true" type="q6:ArrayOfTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="trackId" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Trials.GTC.Data" minOccurs="0" name="GetTimesResult" nillable="true" type="q8:ArrayOfTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="trackId" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Trials.GTC.Data" minOccurs="0" name="GetMessagesResult" nillable="true" type="q10:ArrayOfGetMessagesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="tagId" type="q11:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Trials.GTC.Data" minOccurs="0" name="GetEventSummaryResult" nillable="true" type="q12:ArrayOfEventSummaryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Trials.GTC.Web.Services" minOccurs="0" name="n" nillable="true" type="q13:NewTrack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewTrackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewTrackResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q14:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTrackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTrackResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q15:guid" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="trackId" type="q16:guid" />
        <xs:element minOccurs="0" name="linkId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rider" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="time" type="q17:duration" />
        <xs:element minOccurs="0" name="faults" type="xs:int" />
        <xs:element minOccurs="0" name="link" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubmitTimeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q18:guid" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="trackId" type="q19:guid" />
        <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewMessageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>