Trials.GTC/Service References/GlobalTrackCentral/TrackCentral4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Trials.GTC.Web.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Trials.GTC.Web.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1822/Services/TrackCentral.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:1822/Services/TrackCentral.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:1822/Services/TrackCentral.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Trials.GTC.Data" />
  <xs:complexType name="UserAndRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Roles" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserAndRole" nillable="true" type="tns:UserAndRole" />
  <xs:complexType name="TracksResults">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsFilter" type="xs:boolean" />
      <xs:element minOccurs="0" name="TotalItems" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPages" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Trials.GTC.Data" minOccurs="0" name="Tracks" nillable="true" type="q2:ArrayOfTrack" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TracksResults" nillable="true" type="tns:TracksResults" />
  <xs:complexType name="NewTrack">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Difficulty" type="xs:int" />
      <xs:element minOccurs="0" name="Hyperlink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="LinkId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rating" type="xs:double" />
      <xs:element minOccurs="0" name="ScoreCoeffient" type="xs:double" />
      <xs:element minOccurs="0" name="Submitted" type="ser:guid" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Tags" nillable="true" type="q3:ArrayOfguid" />
      <xs:element minOccurs="0" name="TimeGold" type="ser:duration" />
      <xs:element minOccurs="0" name="TimePlatinum" type="ser:duration" />
      <xs:element minOccurs="0" name="TimeSilver" type="ser:duration" />
      <xs:element minOccurs="0" name="TimeUltimate" type="ser:duration" />
      <xs:element minOccurs="0" name="TrialsType" type="xs:int" />
      <xs:element minOccurs="0" name="TrialsVersion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewTrack" nillable="true" type="tns:NewTrack" />
</xs:schema>